Provides React configuration for the webpack module.

<h3>Dependencies</h3>

<ul>
  <li><a href="https://drupal.org/project/webpack" target="_blank">Webpack</a></li>
  <li><a href="https://drupal.org/project/webpack_babel" target="_blank">Webpack Babel</a></li>
</ul>

<h3>Installation</h3>

<code>yarn add react react-dom @babel/preset-react</code>

<h3>Example usage</h3>

<em>module.libraries.yml</em>
<code>
test:
  webpack: true
  js:
    index.js: {}
</code>

<em>index.js</em>
<code>
import React from "react";
import ReactDOM from "react-dom";

class Greeting extends React.Component {

  render() {
    return (
      <div>
        {this.props.text}
      </div>
    );
  }

}

ReactDOM.render(<Greeting text="Hi!" />, document.getElementById('page'));
</code>
